/**
*@attributes
*/
h(v)
  if v == a or v == auto
    height: auto
  else if v == y
    height: 100%
  else
    height: v
w(v)
  if v == a or v == auto
    width: auto
  else if v == y
    width: 100%
  else
    width: v
m-h(v)
  max-height: v
mi-h(v)
  min-height: v
mh(v)
  min-height: v

l-h(v)
  line-height: v
m-w(v)
  max-width: v
mi-w(v)
  min-width: v
mw(v)
  min-width: v