//@outline
ou(v)
  if v == none or v == n
    outline: none
  else
    outline: v
//@cursor
cr(v)
  if v == p || pointer
    cursor: pointer
  else if v == n-a or v == not-allowed
    cursor: not-allowed
  else
    cursor: v